body {
    background-image: url("/images/background.jpg");
  }



img{
  width: 25vw;
  transform: translate(-1vw, -9vh); 
  border-radius: 10vw;
  padding-bottom: 10vw;
}


@media only screen and (max-width: 700px) {
  img {
    width: 60vw;
  transform: translate(5vw, -5vh);
  padding-bottom: 30vw; 
  }
  .logo-text{
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    transform: translate(20vw, -5vh);
  }
  
  .sub-title{
    transform: translate(25vw, -11vh);
  }
  
}